html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media screen and (max-width: 500px){
    font-size: 55%;
  }
}

body {
  margin: 0;
  font-family: $primary-font;
  background: linear-gradient(to right, $dark-blue, $black);
}

p{
  font-size: 1.6rem;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -500;
}
