.contact-container{
  width: 80%;
  margin: 0 auto;
  h1{
    font-size: 2.5rem;
    color: $light-blue;
    text-align: center;
  }
  .contact-form-container{
    width: 80%;
    margin: 0 auto;
    .contact-form{
      display: flex;
      flex-direction: column;
      label{
        color: $light-blue;
        font-size: 1.5rem;
        padding: 2rem;
        padding-left: 0;
        margin-top: 1rem;
      }
      .contact-form-names{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div{
          width: 48%;
          display: flex;
          flex-direction: column;
        }
      }
      input, textarea{
        background: none;
        color: $white;
        border: solid 1px $light-blue;
        box-sizing: border-box;
        padding: 1rem;
        font-family: $primary-font;
      }

      textarea{
        resize: none;
      }

      input:focus{
        border: solid 1px $dark-blue;
      }
      input.submit{
        border: solid 3px $light-blue;
        width: 15%;
        margin: 0 auto;
        margin-top: 3rem;
        text-transform: uppercase;
        padding: 1.5rem 1rem;
        transition: all .3s ease-in-out;
        font-weight: 600;
        cursor: pointer;
        @media screen and (max-width: 900px){
          width: 50%;
        }
      }
      input.submit:hover{
        background: $light-blue;
        color: $dark-blue;
      }
    }
  }
}
