

/**** footer ***/

footer{
  margin : 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.footer_text {
  margin-top: 6%;
  color: white;
  width: 35%;


  h3{
    color : white;
  }
}


.contact {
  color : #2CDFFF;
}

.phone{
  padding-top: 20px;
}

.image_footer{
  width: 55%;
  height: 15%;
}
