

/**** footer ***/

footer{
  margin : 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.footer_text {
  margin-top: 6%;
  color: white;
  width: 35%;


  h3{
    color : white;
  }
}

.logo_social{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  img{
    width : 20px;
  }
}

.presentation{
  position: relative;
  width : 60%;
}

.presentation .logo_social{
  position: absolute;
  right : 8%;
}

.contact {
  color : #2CDFFF;
}

.phone{
  padding-top: 20px;
}

.image_footer{
  width: 55%;
  height: 15%;
}
