.scroll{
  transform: rotate(-90deg);
  transform-origin: center left;
  position: fixed;
  right: 1%;
  bottom: 0;
  width: 8%;
  display: flex;
  justify-content: space-between;
  span{
    margin-left: 50%;
    color: $white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
  }
  .scroll-anim{
    animation: scroll 1.5s infinite;
  }
  .to-top{
    transform: rotate(-270deg);
    padding-bottom: 10%;
    animation: top 1.5s infinite;
    margin-left: 25%;
    cursor: pointer;
  }
  .scroll-line{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 2px;
    background: $light-blue;
    animation: scrollLine 1.5s infinite;
  }
}

/**** footer ***/

footer{
  width: 100%;
  margin-top: 20rem;
  margin-bottom: 3rem;
  background: url(../images/wave.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  @media screen and (max-width: 900px){
    margin-top: 10rem;
  }
  .footer-container{
    width: 80%;
    margin: 0 auto;
    .footer-content{
      width: 40%;
      @media screen and (max-width: 900px){
        width: 80%;
      }
      h2{
        color: $white;
        font-size: 1.8rem;
      }
      .contact-description{
        font-size: 1.4rem;
      }
      h3{
        color: $white;
        font-size: 1.6rem;
        margin-top: 2.5rem;
      }
      h3+p{
        font-size: 1.4rem;
        color: $light-blue;
      }
    }
    .logo-social{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      padding: 0;
      a{
        width: 30px;
        height: 30px;
      }
      .social-sc{
        background: url(../images/soundcloud.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .2s ease-in;
      }
      .social-sc:hover{
        background: url(../images/soundcloud-hover.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .social-fb{
        background: url(../images/facebook.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .2s ease-in;
      }
      .social-fb:hover{
        background: url(../images/facebook-hover.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .social-ml{
        background: url(../images/mail.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .2s ease-in;
      }
      .social-ml:hover{
        background: url(../images/mail-hover.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
      .social-yt{
        background: url(../images/youtube.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all .2s ease-in;
      }
      .social-yt:hover{
        background: url(../images/youtube-hover.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .legal{
      text-align: center;
      font-size: 1.1rem;
      margin-top: 5rem;
      color: $white;
      @media screen and (max-width: 900px){
        width: 60%;
        margin: 0 auto;
        margin-top: 5rem;
      }
      a{
        text-decoration: none;
        color: $white;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
