/**** avis ***/

.avis{
  border: 1px solid #2CDFFF;
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 200px;
  position: relative;

  h2{
    position: absolute;
    background-color: black;
    height: 20%;
    width : 20%;
    color: #2CDFFF;
    top : -15%;
    left : 40%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
  }
}


/**** artiste ****/

.artiste{
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 800px;
  position: relative;
  background-color: white;
  padding: 0 4% 4% 4%;
  box-sizing: border-box;

  h2{
    text-align:center;
    padding-top: 20px;
    font-size: 2em;
  }

  h1{
    font-size : 3em;
  }

  span{
    font-size: 1.5em;
  }
}

.know_more{
  margin-top: 10%;
  width : 10%;
  background-color: black;
  height: 50px;
}

/**** footer ***/

footer{
  margin : 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.footer_text {
  margin-top: 6%;
  color: white;
  width: 35%;


  h3{
    color : white;
  }
}

.logo_social{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  img{
    width : 20px;
  }
}

.presentation{
  position: relative;
  width : 60%;
}

.presentation .logo_social{
  position: absolute;
  right : 8%;
}

.contact {
  color : #2CDFFF;
}

.phone{
  padding-top: 20px;
}

.image_footer{
  width: 55%;
  height: 15%;
}
