nav {
  background:$dark-blue;
}

li a {
  font-family: $primary-font;
  text-decoration: none;
  color: $white;
  font-size: 18px;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  position: relative;
}
