header {
  width: 100%;
}

nav {
  width: 70%;
  margin-left: 8%;
  height: 10%;
  padding: 5px;
}

li a {
  font-family: $primary-font;
  text-decoration: none;
  color: $white;
  font-size: 1.8rem;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  position: relative;
}
