header {
  width: 80%;
  height:10%;
  margin: 0 auto;
}

nav {
  width: 95%;
  height: 1%;
  padding: 5px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

li a {
  font-family: $primary-font;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 1.5rem;
  display: block;
  padding:10px;
}

nav .menu{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  padding-right: 10px;
}

nav ul li {
  list-style: none;
  position: relative;
}

// nav ul li a:hover {
//   border-bottom: $light-blue solid 2px;
// }

p {
  color: $white;
  font-size: 1.6rem;
}

.language a {
  text-decoration: none;
  color: $white;
  height: 50px;
  font-size: 1.4rem;
}

.language {
  height: 40px;
  display: flex;
  flex-direction: row;
}

.language li a {
  padding: 0;
  padding-top: 10px;
}

// Image

.logo_image {
  height : 1px;
}

.logo {
  height: 40px;
  width: 40px;
  padding-top :1%;
  padding-left: 5%;
}

.underline{
  width: 0;
  height: 2px;
  background: $light-blue;
}

a:hover+.underline{
  animation: underline forwards ease-in-out .5s;
}

.language .lg-selected{
  color: $light-blue;
}


.link-selected{
  width: 100%;
  height: 2px;
  background: $light-blue;
}

@keyframes underline {
  from{width: 0;};
  to{width: 100%;};
}
