.header-container {
  width: 80%;
  height:10vh;
  margin: 0 auto;
}

header{
  transition: background-color .3s linear;
}

.header-fixed{
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  background-color: $white;
  width: 100%;
  z-index: 999;
  li a{
    color: $dark-blue;
  }
}

.header-fixed + main{
  padding-top: 2rem;
}

nav {
  width: 95%;
  box-sizing: border-box;
  padding: 5px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

li a {
  font-family: $primary-font;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: 1.5rem;
  display: block;
  padding:10px;
}

nav .menu{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  padding-right: 10px;
}

nav ul li {
  list-style: none;
  position: relative;
}

// nav ul li a:hover {
//   border-bottom: $light-blue solid 2px;
// }

p {
  color: $white;
  font-size: 1.6rem;
}

.language a {
  text-decoration: none;
  color: $white;
  height: 50px;
  font-size: 1.4rem;
  transition: all .3s ease-in;
}

.language a:hover{
  color: $light-blue;
}

.language {
  height: 40px;
  display: flex;
  width: 5%;
  justify-content: space-evenly;
  flex-direction: row;
}

.language li a {
  padding: 0;
  padding-top: 10px;
}

// Image


.logo {
  background: url(../images/warpcore.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50px;
  width: 50px;
  top: 2vh;
  position: absolute;
}

.underline{
  width: 0;
  height: 2px;
  background: $light-blue;
}

a:hover+.underline{
  animation: underline forwards ease-in-out .5s;
}

.language .lg-selected{
  color: $light-blue;
}


.link-selected{
  width: 100%;
  height: 2px;
  background: $light-blue;
}

@keyframes underline {
  from{width: 0;};
  to{width: 100%;};
}
