main .first-screen {
  margin-top: 5rem;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  .first-screen-left {
    width: 40%;
    position: relative;
    p{
      font-size: 1.3rem;
      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .first-screen-right {
    width: 60%;
    height: 70vh;
    position: absolute;
    bottom: 0;
    right: 0;
    h1{
      margin: 0;
      color: $white;
      text-align: center;
      font-size: 3.5rem;
      font-weight: bold;
      position: absolute;
      top: -0.75rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    img{
      margin-top: 2rem;
      width: 100%;
    }
  }

}

.clip-img{
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

.slider{
  display: flex;
}

/**** avis ***/

.avis{
  border: 1px solid #2CDFFF;
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 200px;
  position: relative;

  h2{
    position: absolute;
    background-color: black;
    height: 20%;
    width : 20%;
    color: #2CDFFF;
    top : -15%;
    left : 40%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
  }
}


/**** artiste ****/

.artiste{
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 800px;
  position: relative;
  background-color: white;
  padding: 0 4% 4% 4%;
  box-sizing: border-box;

  h2{
    text-align:center;
    padding-top: 20px;
    font-size: 2em;
  }

  h1{
    font-size : 3em;
  }

  span{
    font-size: 1.5em;
  }
}

.know_more{
  margin-top: 10%;
  width : 10%;
  background-color: black;
  height: 50px;
}
