main .first-screen {
  box-sizing: border-box;
  margin-top: 10vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: url(../images/wave.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  .first-screen-left {

    width: 40%;
    position: relative;
    p{
      font-size: 1.6rem;
      line-height: 3.5vh;
      color: $white;
      position: absolute;
      top: 15vh;
      left: 25vh;
    }
  }
  .first-screen-right {
    width: 59%;
    position: relative;
    h1{
      margin: 0;
      color: $white;
      text-align: center;
      font-size: 5rem;
      font-weight: 900;
      z-index: 2;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: -3.5rem;
    }
    .slider-container{
      overflow: hidden;
      height: 68vh;
    }
    .slider{
      position: absolute;
      top: -4rem;
      left: 0;
      display: flex;
      width: 100%;
      max-width: 1000px;
      overflow: hidden;
      img{
        transition: all 1s ease-in-out;
        position: relative;
        z-index: 0;
        width: 100%;
        filter: grayscale(50%);
      }
    }


    .slider-bullet{
      width: 15%;
      margin: 2rem auto;
      display: flex;
      justify-content: space-between;
      div{
        margin: 5px;
        width: 7px;
        height: 7px;
        border-radius: 10px;
        border: 2px solid $light-blue;
      }
      .selected{
        background: $light-blue;
      }
    }
    .scroll{
      transform: rotate(-90deg);
      transform-origin: center left;
      position: fixed;
      right: 2%;
      bottom: 0;
      width: 8%;
      display: flex;
      justify-content: space-between;
      span{
        margin-left: 50%;
        color: $white;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
        transition: all 0.5s ease-in-out;
      }
      .scroll-anim{
        animation: scroll 1.5s infinite;
      }
      .to-top{
        transform: rotate(-270deg);
        padding-bottom: 20%;
        animation: top 1.5s infinite;
        margin-left: 25%;
        cursor: pointer;
      }
      .scroll-line{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        height: 2px;
        background: $light-blue;
        animation: scrollLine 1.5s infinite;
      }
    }
  }

}

.services {
  background: url(../images/wave.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease-in;
  h2{
    color: $light-blue;
    width: 30%;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
  }
  .services-categories{
    display: flex;
    width: 40%;
    margin: 0 auto;
    margin-top: 3rem;
    p{
      box-sizing: border-box;
      width: 50%;
      padding: 20px;
      border: solid 1px $light-blue;
      border-radius: 10px;
      color: $light-blue;
      text-align: center;
      transition: all 0.2s ease-in;
    }
    p:hover{
      background: $light-blue;
      color: $dark-blue;
      cursor: pointer;
    }
    p:first-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    p:last-child{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .category-selected{
      background: $light-blue;
      color: $dark-blue;
    }
  }
  .services-description{
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
    .description-icon-people{
      background: url(../images/people.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 150px;
      height: 150px;
      position: absolute;
      top: -2rem;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
    .description-icon-solo{
      background: url(../images/solo.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 110px;
      height: 110px;
      position: absolute;
      top: 0;
      left: 100%;
      transition: all 0.3s ease-in-out;
    }
    ul{
      width: 40%;
      margin: 0 auto;
      margin-top: 2rem;
      transition: all 0.3s ease-in-out;
      li{
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        color: $white;
      }
    }
    ul.description-solo{
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translatex(-50%);
    }
  }
  a{
    display: block;
    background: url(../images/plus.png);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
  }
  a:hover{
    background: url(../images/plus-hover.png);
  }
}


@keyframes scroll {
  50%{
    margin-left: 50%;
  }
  62%{
    margin-left: 60%;
  }
  75%{
    margin-left: 50%;
  }
  87%{
    margin-left: 60%;
  }
  100%{
    margin-left: 50%;
  }
}

@keyframes top {
  50%{
    padding-bottom: 20%;
  }
  62%{
    padding-bottom: 10%;
  }
  75%{
    padding-bottom: 20%;
  }
  87%{
    padding-bottom: 10%;
  }
  100%{
    padding-bottom: 20%;
  }
}

@keyframes scrollLine {
  0%{
    width: 40%;
  }
  30%{
    width: 0%;
  }
  60%{
    width: 40%;
  }
}

.clip-img{
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}


/**** avis ***/

.avis{
  border: 1px solid #2CDFFF;
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 200px;
  position: relative;

  h2{
    position: absolute;
    background-color: black;
    height: 20%;
    width : 20%;
    color: #2CDFFF;
    top : -15%;
    left : 40%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
  }
}


/**** artiste ****/

.artiste{
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 800px;
  position: relative;
  background-color: white;
  padding: 0 4% 4% 4%;
  box-sizing: border-box;

  h2{
    text-align:center;
    padding-top: 20px;
    font-size: 2em;
  }

  h1{
    font-size : 3em;
  }

  span{
    font-size: 1.5em;
  }
}

.know_more{
  margin-top: 10%;
  width : 10%;
  background-color: black;
  height: 50px;
}
