main .first-screen {
  box-sizing: border-box;
  margin-top: 10vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  background: url(../images/wave.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (max-width: 900px){
    flex-direction: column;
    height: auto;
  }
  .first-screen-left {
    width: 40%;
    position: relative;
    @media screen and (max-width: 900px){
      width: 100%;
    }
    h1{
      margin: 0;
      width: 100%;
      color: $white;
      text-align: center;
      font-size: 5rem;
      font-weight: 900;
      z-index: 2;
      position: absolute;
      top: -3.5rem;
      @media screen and (max-width: 900px){
        position: relative;
      }
    }
    h2{
      color: $white;
      font-size: 3rem;
      font-weight: 600;
      text-align: right;
      margin: 0;
      position: absolute;
      top: 3.5rem;
      left: 20%;
      width: 100%;
      @media screen and (max-width: 900px){
        position: static;
        text-align: center;
      }
    }
    p{
      font-size: 1.6rem;
      line-height: 2rem;
      color: $white;
      position: absolute;
      top: 15vh;
      left: 27%;
      width: 65%;
      @media screen and (max-width: 900px){
        position: static;
        text-align: center;
        width: 90%;
        margin: 1rem auto;
      }
    }
  }
  .first-screen-right {
    width: 59%;
    position: relative;
    @media screen and (max-width: 900px){
      width: 100%;
      margin-top: 3rem;
    }
    .slider-container{
      overflow: hidden;
      height: 68vh;
      @media screen and (max-width: 900px){
        height: auto;
      }
    }
    .slider{
      position: absolute;
      top: -4rem;
      right: 0;
      display: flex;
      width: 1000px;
      max-width: 1000px;
      overflow: hidden;
      @media screen and (max-width: 900px){
        position: static;
        width: 100%;
      }
      img{
        transition: all 1s ease-in-out;
        position: relative;
        z-index: 0;
        width: 100%;
        filter: grayscale(100%);
        @media screen and (max-width: 900px){
          height: 100%;
        }
      }
      img:hover{
        filter: grayscale(0);
      }
    }


    .slider-bullet{
      width: 35%;
      margin: 2rem auto;
      display: flex;
      justify-content: space-between;
      div{
        margin: 5px;
        width: 7px;
        height: 7px;
        border-radius: 10px;
        border: 2px solid $light-blue;
      }
      .selected{
        background: $light-blue;
      }
    }
    .scroll{
      transform: rotate(-90deg);
      transform-origin: center left;
      position: fixed;
      right: 1%;
      bottom: 0;
      width: 8%;
      display: flex;
      justify-content: space-between;
      span{
        margin-left: 50%;
        color: $white;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
        transition: all 0.5s ease-in-out;
      }
      .scroll-anim{
        animation: scroll 1.5s infinite;
      }
      .to-top{
        transform: rotate(-270deg);
        padding-bottom: 10%;
        animation: top 1.5s infinite;
        margin-left: 25%;
        cursor: pointer;
      }
      .scroll-line{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        height: 2px;
        background: $light-blue;
        animation: scrollLine 1.5s infinite;
      }
    }
  }

}

.services {
  background: url(../images/wave.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.3s ease-in;
  margin-top: 10rem;
  @media screen and (max-width: 900px){
    margin-top: 5rem;
  }
  h2{
    color: $light-blue;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5rem;
  }
  .services-categories{
    display: flex;
    width: 40%;
    margin: 0 auto;
    margin-top: 3rem;
    @media screen and (max-width: 900px){
      flex-direction: column;
      width: 90%;
      align-items: center;
    }
    p{
      box-sizing: border-box;
      width: 50%;
      padding: 20px;
      border: solid 1px $light-blue;
      border-radius: 10px;
      color: $light-blue;
      text-align: center;
      transition: all 0.2s ease-in;
      @media screen and (max-width: 900px){
        width: 70%;
      }
    }
    p:hover{
      background: $light-blue;
      color: $dark-blue;
      cursor: pointer;
    }
    @media screen and (min-width: 900px){
      p:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      p:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    .category-selected{
      background: $light-blue;
      color: $dark-blue;
    }
  }
  .services-description{
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
    @media screen and (max-width: 900px){
      width: 90%;
    }
    .description-icon-people{
      background: url(../images/people.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 150px;
      height: 150px;
      position: absolute;
      top: -2rem;
      left: 0;
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: 900px){
        position: static;
        margin: 0 auto;
      }
    }
    .description-icon-solo{
      background: url(../images/solo.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 110px;
      height: 110px;
      position: absolute;
      top: 0;
      left: 100%;
      transition: all 0.3s ease-in-out;
    }
    ul{
      width: 45%;
      margin: 0 auto;
      margin-top: 2rem;
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: 900px){
        width: 90%;
        padding: 0;
      }
      li{
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        color: $white;
      }
    }
    ul.description-solo{
      position: absolute;
      bottom: 100%;
      left: 25.5%;
    }
  }
  a{
    display: block;
    background: url(../images/plus.png);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;
  }
  a:hover{
    background: url(../images/plus-hover.png);
  }
}


@keyframes scroll {
  50%{
    margin-left: 50%;
  }
  62%{
    margin-left: 60%;
  }
  75%{
    margin-left: 50%;
  }
  87%{
    margin-left: 60%;
  }
  100%{
    margin-left: 50%;
  }
}

@keyframes top {
  50%{
    padding-bottom: 10%;
  }
  62%{
    padding-bottom: 20%;
  }
  75%{
    padding-bottom: 10%;
  }
  87%{
    padding-bottom: 20%;
  }
  100%{
    padding-bottom: 10%;
  }
}

@keyframes scrollLine {
  0%{
    width: 40%;
  }
  30%{
    width: 0%;
  }
  60%{
    width: 40%;
  }
}

.clip-img{
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}





/**** artiste ****/

.artist{
  margin: 0 auto;
  margin-top: 10rem;
  width : 80%;
  position: relative;
  background: $white;
  padding: 0 4% 4% 4%;
  box-sizing: border-box;
  color: $dark-blue;
  h2{
    text-align:center;
    padding-top: 20px;
    font-size: 2.5rem;
  }
  h4{
    text-align: center;
    font-size: 2rem;
  }

  h3.artist-name{
    color: $dark-blue;
    font-size : 3rem;
    font-weight: 900;
    @media screen and (max-width: 900px){
      text-align: center;
    }
  }

  .logo-social{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-left: 70%;
    @media screen and (max-width: 900px){
      padding: 0;
    }
    a{
      display: block;
      width: 20px;
      height: 20px;
    }
    .social-sc{
      background: url(../images/soundcloud.png);
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .2s ease-in;
    }
    .social-sc:hover{
      background: url(../images/soundcloud-hover.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .social-fb{
      background: url(../images/facebook.png);
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .2s ease-in;
    }
    .social-fb:hover{
      background: url(../images/facebook-hover.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .social-ml{
      background: url(../images/mail.png);
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .2s ease-in;
    }
    .social-ml:hover{
      background: url(../images/mail-hover.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .social-yt{
      background: url(../images/youtube.png);
      background-size: contain;
      background-repeat: no-repeat;
      transition: all .2s ease-in;
    }
    .social-yt:hover{
      background: url(../images/youtube-hover.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .artist-presentation{
    position: relative;
    width : 70%;
    @media screen and (max-width: 900px){
      width: 90%;
      margin: 0 auto;
    }
    .quote{
      background: url(../images/quote.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      position: absolute;

    }
    .quote#quote-left{
      top: -3rem;
      left:0;
    }
    .quote#quote-right{
      bottom: 3rem;
      right:0;
      transform: rotate(180deg);
    }
  }

  .artist-presentation .logo_social{
    position: absolute;
    right : 8%;
  }

  .artist-description{
    width: 100%;
    font-size: 1.5em;
    color: $dark-blue;
    box-sizing: border-box;
    padding-left: 2.5rem;
    margin-top: 5rem;
  }
  .artist-img-border{
    width: 30%;
    overflow: hidden;
    background: $light-blue;
    position: absolute;
    top: -5rem;
    left: 80%;
  }
  .artist-img-container{
    overflow: hidden;
    width: 97%;
    background: $dark-blue;
    margin: 1.5% auto;
    div{
      width: 90%;
      margin: 5% auto;
    }
    img{
      box-sizing: border-box;
      width: 100%;
      filter: grayscale(100%) brightness(1.5);
      transition: all .3s ease-in;
    }
    img:hover{
      filter: grayscale(0) brightness(1.5);
    }
  }

  .clip-artist-img{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  p.portfolio-description{
    color: $dark-blue;
    text-align: center;
  }

  #frame,
  .description{
  	margin: 50px auto;
  	width: 100%;
  	}

  .playlists .special{
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: 420px;
  	}

  .playlists .ytv-list-header > a{
  	-webkit-animation: pulse 2s infinite;
  	-moz-animation: pulse 2s infinite;
  	-o-animation: pulse 2s infinite;
  	animation: pulse 2s infinite;
  	}
  	.playlists .ytv-list-header.ytv-playlist-open > a{
  		-webkit-animation: none;
  		-moz-animation: none;
  		-o-animation: none;
  		animation: none;
  		}

  @-webkit-keyframes pulse {
    0%   { background: rgba(255,255,255,0); }
    50%  { background: rgba(255,255,255,0.1); }
    100% { background: rgba(255,255,255,0); }
  }
  @-moz-keyframes pulse {
    0%   { background: rgba(255,255,255,0); }
    50%  { background: rgba(255,255,255,0.1); }
    100% { background: rgba(255,255,255,0); }
  }
  @-o-keyframes pulse {
    0%   { background: rgba(255,255,255,0); }
    50%  { background: rgba(255,255,255,0.1); }
    100% { background: rgba(255,255,255,0); }
  }
  @keyframes pulse {
    0%   { background: rgba(255,255,255,0); }
    50%  { background: rgba(255,255,255,0.1); }
    100% { background: rgba(255,255,255,0); }
  }
}

.know-more{
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2rem;
  background: $dark-blue;
  color: $white;
  width: 15%;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 900px){
    width: 50%;
    margin: 2rem auto;
  }
}

.know-more:hover{
  background: $light-blue;
  color: $dark-blue;
}

.comments{
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  h2{
    color: $light-blue;
    font-size: 2.5rem;
    text-align: center;
  }
  .comments-box{
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 6rem;
    outline: solid 2px $light-blue;
    position: relative;
    .comments-fb{
      background: url(../images/facebook.png);
      width: 50px;
      height: 50px;
      background-size: contain;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translate(-50%);
    }
    a{
      display: block;
      text-decoration: none;
      background: $dark-blue;
      text-transform: uppercase;
      color: $white;
      position: absolute;
      font-size: 1.4rem;
      font-weight: 600;
      bottom: -1.7rem;
      left: 70%;
      outline: solid 3px $light-blue;
      padding: 1rem 3rem;
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: 900px){
        left: 50%;
        transform: translate(-50%);
        width: 60%;
        text-align: center;
      }
    }
    a:hover{
      background: $light-blue;
      color: $dark-blue;
    }
    .comments-content{
      width: 60%;
      margin: 0 auto;
      padding-top: 4rem;
      color: $white;
      p{
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
  }
}
