main .first-screen {
  box-sizing: border-box;
  margin-top: 10vh;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  .first-screen-left {
    width: 40%;
    position: relative;
    p{
      font-size: 1.6rem;
      line-height: 3.5vh;
      color: $white;
      position: absolute;
      top: 15vh;
      left: 25vh;
    }
  }
  .first-screen-right {
    width: 59%;
    position: relative;
    h1{
      margin: 0;
      color: $white;
      text-align: center;
      font-size: 3.5rem;
      font-weight: bold;
      z-index: 2;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: -2.4rem;
    }
    .slider-container{
      overflow: hidden;
      height: 68vh;
    }
    .slider{
      position: absolute;
      top: -4rem;
      left: 0;
      display: flex;
      width: 100%;
      overflow: hidden;
      img{
        transition: 1s ease-in;
        position: relative;
        z-index: 0;
      }
    }


    .slider-bullet{
      // // position: absolute;
      // bottom: -8%;
      // // left: 50%;
      // z-index: 5;
      // transform: translateX(-50%);
      width: 10%;
      margin: 2rem auto;
      display: flex;
      justify-content: space-between;
      div{
        margin: 5px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 2px solid $light-blue;
      }
      .selected{
        background: $light-blue;
      }
    }
    .scroll{
      transform: rotate(-90deg);
      transform-origin: center left;
      position: absolute;
      right: 2%;
      bottom: 0;
      width: 13%;
      display: flex;
      justify-content: space-between;
      span{
        margin-left: 50%;
        color: $white;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
        animation: scroll 1.5s infinite;
      }
      .scroll-line{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        height: 2px;
        background: $light-blue;
        animation: scrollLine 1.5s infinite;
      }
    }
  }

}


@keyframes scroll {
  50%{
    margin-left: 50%;
  }
  62%{
    margin-left: 60%;
  }
  75%{
    margin-left: 50%;
  }
  87%{
    margin-left: 60%;
  }
  100%{
    margin-left: 50%;
  }
}

@keyframes scrollLine {
  0%{
    width: 40%;
  }
  30%{
    width: 0%;
  }
  60%{
    width: 40%;
  }
}

.clip-img{
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}


/**** avis ***/

.avis{
  border: 1px solid #2CDFFF;
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 200px;
  position: relative;

  h2{
    position: absolute;
    background-color: black;
    height: 20%;
    width : 20%;
    color: #2CDFFF;
    top : -15%;
    left : 40%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
  }
}


/**** artiste ****/

.artiste{
  margin: auto;
  margin-top: 100px;
  width : 80%;
  height: 800px;
  position: relative;
  background-color: white;
  padding: 0 4% 4% 4%;
  box-sizing: border-box;

  h2{
    text-align:center;
    padding-top: 20px;
    font-size: 2em;
  }

  h1{
    font-size : 3em;
  }

  span{
    font-size: 1.5em;
  }
}

.know_more{
  margin-top: 10%;
  width : 10%;
  background-color: black;
  height: 50px;
}
