.professional_main{
  color : #1A3441;
}

.professional_info{
  display: flex;
  flex-direction: row;
  width : 50%;
  margin : auto;
  height: 5%;
  ul{
    color : #2CDFFF;
    height: 30%;
    margin-top: 10rem;
    li{
      list-style: none;
      font-size: 1.5rem;
      margin-top: 20px;
    }
  }
}

.professional_icon{
  overflow: hidden;
  background: $dark-blue;
  margin : 1.5% auto;
  margin-top: 5%;
  width : 250px;
  height: 250px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  img{
    box-sizing: border-box;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: relative;
  }
  h2{
    position: absolute;
    top : 30%;
  }
}

.description_line{
  color : #2CDFFF;
  width : 70%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 1.6rem;
}

.form-container{
  width : 80%;
  margin : auto;
  background-color: white;
  padding : 0 5% 5% 5%;
  box-sizing: border-box;
  h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 5%;
  }
}

.quotation_form{
  width: 80%;
  margin: auto;
  .text_zone{
    margin-bottom: 3%;
    input{
      border-radius: 5px;
      border: solid 1px #D6D6D6;
      height: 30px;
      padding-left: 2%;
    }
    div{
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      p{
        margin-bottom: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
      }
    }
    .description_input{
      height: 300px;
    }
  }
  .choice_list{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 3rem;
  }
}
