.professional_icon{
  overflow: hidden;
  background: $dark-blue;
  margin : 1.5% auto;
  width : 250px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  img{
    box-sizing: border-box;
    width: 100%;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);}
}

.form-container{
  width : 90%;
  margin : auto;
  background-color: white;
  padding : 0 3% 3% 3%;
  box-sizing: border-box;
  h3{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5%;
  }
}

.quotation_form{
  .text_zone{
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
    input{
      border-radius: 5px;
      border: solid 1px #D6D6D6;
      height: 30px;
    }
    div{
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      span{
        margin-bottom: 1%;
        text-transform: uppercase;
      }
    }
    .description_input{
      height: 300px;
    }
  }
}
